@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navbar {
  /* position: fixed;   */
  left: 0px;
  top: 160px;
  height: auto;
  width: 100%;
  /* background: #338773;   */
  /* background-color: #979899; */
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  margin-bottom: 0px;
  justify-content: space-between;
}
.navbar ul li {
  display: inline;
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}
.navbar ul li.active {
  background: #fff;
}
.navbar ul li a {
  text-decoration: none;
  font-family: "Bangers", cursive;
  color: #22201f;
}
.navbar ul li.active a {
  color: #22201f;
}
.navbar ul li b.left-curve {
  position: absolute;
  bottom: 0px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #fff;
  display: none;
}
.navbar ul li b.left-curve::before {
  content: " ";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  /* background: #338773;   */
  background-color: #979899;
}
.navbar ul li b.right-curve {
  position: absolute;
  right: -20px;
  top: 0px;
  height: 100%;
  width: 20px;
  background: #fff;
  display: none;
}

.navbar ul li b.right-curve::before {
  content: " ";
  right: 0;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  border-bottom-left-radius: 20px;
  /* background: #338773;   */
  background-color: #979899;
}
.navbar ul li.active b.left-curve {
  display: block;
}
.navbar ul li.active b.right-curve {
  display: block;
}

.active_un {
  color: #7e9b9e;
}
